.wrapper-advantages {
    position: absolute;
    top: -400px;
}

.section-title--advantages {
    color: $primary-light-color;
    text-align: left;
    width: 140px;
    margin-bottom: 16px;
}

.advantages {
    position: relative;

    &__list {
        counter-reset: issues 0;
        background-color: $primary-light-color;
        box-shadow: 4px 6.928px 15.54px 5.46px rgba(29, 29, 27, 0.04);
        padding: 20px 28px 24px 28px;

        &-item {
            width: 220px;
            position: relative;

            &:nth-of-type(-n+5) {
                margin-bottom: 10px;
            }

            &-text {
                font-size: 13px;
                font-family: $norm700;
                color: $primary-dark-color;
                line-height: 20px;
                letter-spacing: 0.65px;

                
            }

            &::before {
                counter-increment: issues 1;
                content: ''counter(issues, decimal-leading-zero);
                display: block;
                padding-left: 36px;
                color: #ff6b08;
                font-family: 'Montserrat400';
                font-size: 14px;
                margin-bottom: 6px;
            }
            
            &::after {
                content: '';
                display: block;
                width: 25px;
                height: 2px;
                background-color: #ff6b08;
                position: absolute;
                top: 6px;
                left: 0;
            }
        }
    }
}
  


@media (min-width: 768px) {
    .container {  
        width: 688px;
    }

    .wrapper-advantages {
        top: -214px;
        width: 688px;
    }

    .section-title--advantages {
        font-size: 26px;
        line-height: 63px;
        letter-spacing: 1.3px;
        width: 350px;
        margin: auto;
        margin-bottom: 10px;
    }

    .advantages__list {
        padding: 26px 96px;
        display: flex;
        flex-wrap: wrap;

        &-item {

            &-text {
                margin-bottom: 0;
            }

            &:nth-of-type(odd) {
                margin-right: 52px;
            }

            &:nth-of-type(-n+5) {
                margin-bottom: 0;
            }

            &:nth-of-type(-n+4) {
                margin-bottom: 24px;
            }
        }
    }
}


@media (min-width: 1280px) {
    .container {
       width: 1210px;
    }

    .section-title--advantages {
        font-size: 42px;
        line-height: 55px;
        letter-spacing: 2.1px;
        width: 564px;
        margin-bottom: 30px;
    }

    .wrapper-advantages {
        top: -422px;
        width: 1210px;
    }

    .advantages__list {
        padding: 50px 80px 50px 96px;

        &-item {
            width: 305px;

            &-text {
                font-size: 18px;
                line-height: 29px;
                letter-spacing: 0.9px;
            }

            &::before {
                font-size: 21px;
                letter-spacing: 1px;
            }

            &::after {
                top: 10px;
            }

            &:nth-of-type(-n+4) {
                margin-bottom: 0;
            }

            &:nth-of-type(odd) {
                margin-right: 0;
            }

            &:not(:nth-of-type(3n)) {
                margin-right: 52px;
            }

            &:nth-of-type(-n+3) {
                margin-bottom: 36px;
            }
        }
    }
}

