//colors

$primary-dark-color: #18191d;
$secondary-dark-color: #111517;
$logo-dark-color: #000000;

$primary-grey-color: #b9b9b9;
$secondary-grey-color: #858585;
$tertiary-grey-color: #e0e0e0;

$primary-light-color: #ffffff;
$secondary-light-color: #fdfefe;

$main-orange-color: #ff6b08;
$main-orange-hover: #d35526;

$primary-background-color: #f1f1f1;
$secondary-background-color: rgba(132, 132, 132, 0.502);
$tertiary-background-color: rgba(133, 133, 133, 0.4);
$overlay-background-color: rgba(0, 0, 0, .85);

$primary-element-color: #546264;
$secondary-element-color: #bababa;
$tertiary-element-color: rgba(253, 254, 254, 0.42);

//fonts

$norm400: 'Montserrat400';
$norm500: 'Montserrat500';
$norm600: 'Montserrat600';
$norm700: 'Montserrat700';
$norm800: 'Montserrat800';
$btn: 'Tahoma';
